<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Groupinfo</h1>
        <p>Membercount: <%= group.members.length %>; Total Cost: <%= group.getSum().toFixed(2) %>; Average: <%= (group.getSum()/group.members.length).toFixed(2)%> Currency: <%= group.currency || 'not set' %></p>
        <p>
          <a href="https://docs.google.com/spreadsheets/d/<%=group.sheetId%>">Sheet-Link</a>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="sheet-export/<%= group.id %>" class="sheet-export">Export</a>
          <i class="fas fa-spinner fa-spin export-loading"></i>
          <i class="fas fa-check-circle export-done"></i>
        </p>
        <div class="members" data-id="<%= group.id %>">
          <% members.forEach(member => { %>
            <div class="card member" data-member-id="<%= member.id %>">
              <div class="card-body">
                <h5 class="card-title"><%= member.name %></h5>
                <table class="table table-striped">
                  <tr><th>Total</th><th><%= member.memberSum %></th><th></th></tr>
                  <% member.entries.forEach(entry => { %>
                    <tr class="entry" data-uuid="<%=entry.uuid%>">
                      <td>
                        <input type="text" class="description" value="<%= entry.description %>">
                        <span class="time"><%= entry.time %></span>
                      </td>
                      <td><input type="number" class="amount" value="<%= entry.amount.toFixed(2) %>"></td>

                      <td>
                        <i class="fas fa-save save"></i>
                        <i class="fas fa-trash" onclick="deleteEntry('<%= group.id %>', '<%= entry.uuid %>');"></i>
                      </td>
                    </tr>
                  <% }); %>
                  <% if (member.toPay > 0) { %>
                    <tr class="table-danger"><td>To Pay:</td><td><%= member.toPay %></td><td></td></tr>
                  <% } else { %>
                    <tr class="table-success"><td>Gets:</td><td><%= member.toPay %></td><td></td></tr>
                  <% } %>
                </table>
                <form class="form-inline" method="post" action="new-entry">
                  <div class="form-row align-items-center">
                    <input type="hidden" name="id" value="<%= group.id %>">
                    <input type="hidden" name="memberId" value="<%= member.id%>">
                    <div class="col-auto">
                      <input class="form-control" name="description" placeholder="description">
                    </div>
                    <div class="col-auto">
                      <input class="form-control" name="amount" type="number" placeholder="amount">
                    </div>
                    <div class="col-auto">
                      <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          <% }); %>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Debug</h5>
            <pre><code><%- debug %></code></pre>
          </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
